.container {
  display: block;
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
} 

.container input {
  position: absolute;
    height: 24px;
    width: 24px;
    left: 0px;
    top: 0px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #2F3676;
    border-radius: 4px;
  }

  .checkmark div {
    padding: 5px 0 0 30px;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #191847;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }