@media screen and (max-width: 640px) {
  .footer {
    padding: 32px;
    display: flex;
    justify-content: center;
  }

}

@media screen and (min-width: 641px) { 
  .footer {
    padding: 32px;
    background: #dde3e9;
    display: flex;
    justify-content: flex-end;
  }
}

.label {
  font-size: 18px;
  font-weight: 600;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 32px;
  margin-bottom: 32px;
}

fieldset{
  border: none;
}